body {
    font-family: "Avenir Next", sans-serif;
    /* You can add more font-family declarations here for fallback options */
}

h1, h2, h3 {
    font-family: "Minion Variable Concept";
}

h4 {
    font-family: "Minion Variable Concept";
}

p1 {
    font-family: "Minion Variable Concept";
}